@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    cursor: url("/cursor.png") 16 16, auto;
}

.navbar-item {
    cursor: pointer;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
}

.navbar-item:hover {
    font-weight: 700;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    transform: scale(1.2) rotate(-2deg);
    color: #47edbb;
}

.navbar-item-active {
    font-weight: 700;
    transform: scale(1.2);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradient-animation {
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}
